In [1]:
import pandas as pd

In [28]:
df_file = pd.read_csv('genome_to_id_virnest_ful.tsv', sep='\t', header=None, names=['genome_ID', 'fpath'])
df_meta = pd.read_csv("metadata_virnest_full.tsv", sep='\t')

df_file.head(),df_meta.head()

(         genome_ID                                              fpath
 0  GCA_006964325.1  input_virclust/fasta/GCA_006964325.1_ASM696432...
 1  GCA_001505015.1  input_virclust/fasta/GCA_001505015.1_ViralProj...
 2  GCA_000955455.1  input_virclust/fasta/GCA_000955455.1_ViralProj...
 3  GCA_002614285.1  input_virclust/fasta/GCA_002614285.1_ASM261428...
 4  GCA_003014395.1  input_virclust/fasta/GCA_003014395.1_ASM301439...,
          genome_ID     OTU  NCBI_ID novelty_category
 0  GCA_000836965.1  836965  2681618  Complete Genome
 1  GCA_000837025.1  837025    10658  Complete Genome
 2  GCA_000837225.1  837225  2681603  Complete Genome
 3  GCA_000837465.1  837465    88870  Complete Genome
 4  GCA_000837485.1  837485    77048  Complete Genome)

In [35]:
df_file

            genome_ID                                              fpath
0     GCA_006964325.1  input_virclust/fasta/GCA_006964325.1_ASM696432...
1     GCA_001505015.1  input_virclust/fasta/GCA_001505015.1_ViralProj...
2     GCA_000955455.1  input_virclust/fasta/GCA_000955455.1_ViralProj...
3     GCA_002614285.1  input_virclust/fasta/GCA_002614285.1_ASM261428...
4     GCA_003014395.1  input_virclust/fasta/GCA_003014395.1_ASM301439...
...               ...                                                ...
1945  GCA_003308555.1  input_virclust/fasta/GCA_003308555.1_ASM330855...
1946  GCA_001023565.1  input_virclust/fasta/GCA_001023565.1_ViralProj...
1947  GCA_000861045.1  input_virclust/fasta/GCA_000861045.1_ViralProj...
1948  GCA_004521015.1  input_virclust/fasta/GCA_004521015.1_ASM452101...
1949  GCA_002745795.1  input_virclust/fasta/GCA_002745795.1_ASM274579...

[1950 rows x 2 columns]

In [36]:
df_meta

            genome_ID        OTU  NCBI_ID novelty_category
0     GCA_000836965.1     836965  2681618  Complete Genome
1     GCA_000837025.1     837025    10658  Complete Genome
2     GCA_000837225.1     837225  2681603  Complete Genome
3     GCA_000837465.1     837465    88870  Complete Genome
4     GCA_000837485.1     837485    77048  Complete Genome
...               ...        ...      ...              ...
1947  GCA_021090655.1   21090655  2986419  Complete Genome
1948  GCA_900010585.1  900010585  1970374  Complete Genome
1949  GCA_900096485.1  900096485  1892569  Complete Genome
1950  GCA_900156925.2  900156925  1934252  Complete Genome
1951  GCA_902994725.1  902994725  2100421  Complete Genome

[1952 rows x 4 columns]

In [40]:
# inner join df_file and df_meta on genome_ID
df_file2 = pd.merge(df_file, df_meta[["genome_ID"]], on='genome_ID', how='inner')
df_meta2 = pd.merge(df_meta, df_file[["genome_ID"]], on='genome_ID', how='inner')

In [43]:
df_file2.to_csv('genome_to_id_virnest.tsv', sep='\t', header=None, index=False)
df_meta2.to_csv('metadata_virnest.tsv', sep='\t', index=False)